h3 UI Grid

.container-fluid(ng-controller="UIGridController")
  h4.page-header.mt0 Basic
  .table-uigrid(ui-grid='gridOptions')
  h4.page-header.clearfix
    .pull-left Filter and Footer
    .pull-right
      button#footerButton.btn.btn-xs.btn-success(ng-click='gridOptionsComplex.showGridFooter = !gridOptionsComplex.showGridFooter; $scope.gridApi.core.notifyDataChange(uiGridConstants.dataChange.OPTIONS);') Toggle Grid Footer
      button.btn.btn-xs.btn-success(ng-click='gridOptionsComplex.showColumnFooter = !gridOptionsComplex.showColumnFooter; $scope.gridApi.core.notifyDataChange(uiGridConstants.dataChange.OPTIONS);') Toggle Column Footer
  #uigrid-demo.table-uigrid(ui-grid='gridOptionsComplex')
  h4.page-header Pagination
  .table-uigrid(ui-grid='gridOptions1', ui-grid-pagination='')
