h3 ngGrid

h4 JSON + Pager + Item selection example

.panel.panel-default
  .table-responsive(ng-controller='NGGridController')
    div(ng-grid='gridOptions')

p: small See more examples at 
  a(href="http://angular-ui.github.io/ng-grid/") ngGrid
