<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dishs</key>
		<array>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>卤肉饭</string>
				<key>dishSalesCount</key>
				<string>511</string>
				<key>dishFollow</key>
				<string>235</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>红烧肉饭</string>
				<key>dishSalesCount</key>
				<string>98</string>
				<key>dishFollow</key>
				<string>35</string>
				<key>dishPrice</key>
				<string>18</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>咖喱牛肉饭</string>
				<key>dishSalesCount</key>
				<string>62</string>
				<key>dishFollow</key>
				<string>16</string>
				<key>dishPrice</key>
				<string>22</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>泡椒牛肉饭</string>
				<key>dishSalesCount</key>
				<string>50</string>
				<key>dishFollow</key>
				<string>47</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>红烧牛肉饭</string>
				<key>dishSalesCount</key>
				<string>40</string>
				<key>dishFollow</key>
				<string>22</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>豆豉排骨饭</string>
				<key>dishSalesCount</key>
				<string>30</string>
				<key>dishFollow</key>
				<string>20</string>
				<key>dishPrice</key>
				<string>18</string>
			</dict>
		</array>
		<key>category</key>
		<string>销量排行</string>
	</dict>
	<dict>
		<key>dishs</key>
		<array>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>卤肉饭</string>
				<key>dishSalesCount</key>
				<string>511</string>
				<key>dishFollow</key>
				<string>235</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>红烧肉饭</string>
				<key>dishSalesCount</key>
				<string>98</string>
				<key>dishFollow</key>
				<string>35</string>
				<key>dishPrice</key>
				<string>18</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>咖喱牛肉饭</string>
				<key>dishSalesCount</key>
				<string>62</string>
				<key>dishFollow</key>
				<string>16</string>
				<key>dishPrice</key>
				<string>22</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>泡椒牛肉饭</string>
				<key>dishSalesCount</key>
				<string>50</string>
				<key>dishFollow</key>
				<string>47</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>红烧牛肉饭</string>
				<key>dishSalesCount</key>
				<string>40</string>
				<key>dishFollow</key>
				<string>22</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>豆豉排骨饭</string>
				<key>dishSalesCount</key>
				<string>30</string>
				<key>dishFollow</key>
				<string>20</string>
				<key>dishPrice</key>
				<string>18</string>
			</dict>
		</array>
		<key>category</key>
		<string>新推饭品</string>
	</dict>
	<dict>
		<key>dishs</key>
		<array>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>卤肉饭</string>
				<key>dishSalesCount</key>
				<string>511</string>
				<key>dishFollow</key>
				<string>235</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>红烧肉饭</string>
				<key>dishSalesCount</key>
				<string>98</string>
				<key>dishFollow</key>
				<string>35</string>
				<key>dishPrice</key>
				<string>18</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>咖喱牛肉饭</string>
				<key>dishSalesCount</key>
				<string>62</string>
				<key>dishFollow</key>
				<string>16</string>
				<key>dishPrice</key>
				<string>22</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>泡椒牛肉饭</string>
				<key>dishSalesCount</key>
				<string>50</string>
				<key>dishFollow</key>
				<string>47</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>红烧牛肉饭</string>
				<key>dishSalesCount</key>
				<string>40</string>
				<key>dishFollow</key>
				<string>22</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>豆豉排骨饭</string>
				<key>dishSalesCount</key>
				<string>30</string>
				<key>dishFollow</key>
				<string>20</string>
				<key>dishPrice</key>
				<string>18</string>
			</dict>
		</array>
		<key>category</key>
		<string>营养饭类</string>
	</dict>
	<dict>
		<key>dishs</key>
		<array>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>卤肉饭</string>
				<key>dishSalesCount</key>
				<string>511</string>
				<key>dishFollow</key>
				<string>235</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>红烧肉饭</string>
				<key>dishSalesCount</key>
				<string>98</string>
				<key>dishFollow</key>
				<string>35</string>
				<key>dishPrice</key>
				<string>18</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>咖喱牛肉饭</string>
				<key>dishSalesCount</key>
				<string>62</string>
				<key>dishFollow</key>
				<string>16</string>
				<key>dishPrice</key>
				<string>22</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>泡椒牛肉饭</string>
				<key>dishSalesCount</key>
				<string>50</string>
				<key>dishFollow</key>
				<string>47</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>红烧牛肉饭</string>
				<key>dishSalesCount</key>
				<string>40</string>
				<key>dishFollow</key>
				<string>22</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>豆豉排骨饭</string>
				<key>dishSalesCount</key>
				<string>30</string>
				<key>dishFollow</key>
				<string>20</string>
				<key>dishPrice</key>
				<string>18</string>
			</dict>
		</array>
		<key>category</key>
		<string>欢迎光临</string>
	</dict>
	<dict>
		<key>dishs</key>
		<array>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>卤肉饭</string>
				<key>dishSalesCount</key>
				<string>511</string>
				<key>dishFollow</key>
				<string>235</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>红烧肉饭</string>
				<key>dishSalesCount</key>
				<string>98</string>
				<key>dishFollow</key>
				<string>35</string>
				<key>dishPrice</key>
				<string>18</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>咖喱牛肉饭</string>
				<key>dishSalesCount</key>
				<string>62</string>
				<key>dishFollow</key>
				<string>16</string>
				<key>dishPrice</key>
				<string>22</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>泡椒牛肉饭</string>
				<key>dishSalesCount</key>
				<string>50</string>
				<key>dishFollow</key>
				<string>47</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>红烧牛肉饭</string>
				<key>dishSalesCount</key>
				<string>40</string>
				<key>dishFollow</key>
				<string>22</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>豆豉排骨饭</string>
				<key>dishSalesCount</key>
				<string>30</string>
				<key>dishFollow</key>
				<string>20</string>
				<key>dishPrice</key>
				<string>18</string>
			</dict>
		</array>
		<key>category</key>
		<string>营养饭套餐</string>
	</dict>
	<dict>
		<key>dishs</key>
		<array>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>卤肉饭</string>
				<key>dishSalesCount</key>
				<string>511</string>
				<key>dishFollow</key>
				<string>235</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>红烧肉饭</string>
				<key>dishSalesCount</key>
				<string>98</string>
				<key>dishFollow</key>
				<string>35</string>
				<key>dishPrice</key>
				<string>18</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>咖喱牛肉饭</string>
				<key>dishSalesCount</key>
				<string>62</string>
				<key>dishFollow</key>
				<string>16</string>
				<key>dishPrice</key>
				<string>22</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>泡椒牛肉饭</string>
				<key>dishSalesCount</key>
				<string>50</string>
				<key>dishFollow</key>
				<string>47</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>红烧牛肉饭</string>
				<key>dishSalesCount</key>
				<string>40</string>
				<key>dishFollow</key>
				<string>22</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>豆豉排骨饭</string>
				<key>dishSalesCount</key>
				<string>30</string>
				<key>dishFollow</key>
				<string>20</string>
				<key>dishPrice</key>
				<string>18</string>
			</dict>
		</array>
		<key>category</key>
		<string>营养粥</string>
	</dict>
	<dict>
		<key>dishs</key>
		<array>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>卤肉饭</string>
				<key>dishSalesCount</key>
				<string>511</string>
				<key>dishFollow</key>
				<string>235</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>红烧肉饭</string>
				<key>dishSalesCount</key>
				<string>98</string>
				<key>dishFollow</key>
				<string>35</string>
				<key>dishPrice</key>
				<string>18</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>咖喱牛肉饭</string>
				<key>dishSalesCount</key>
				<string>62</string>
				<key>dishFollow</key>
				<string>16</string>
				<key>dishPrice</key>
				<string>22</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>泡椒牛肉饭</string>
				<key>dishSalesCount</key>
				<string>50</string>
				<key>dishFollow</key>
				<string>47</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>红烧牛肉饭</string>
				<key>dishSalesCount</key>
				<string>40</string>
				<key>dishFollow</key>
				<string>22</string>
				<key>dishPrice</key>
				<string>19</string>
			</dict>
			<dict>
				<key>dishIcon</key>
				<string>barbecue_image</string>
				<key>dishName</key>
				<string>豆豉排骨饭</string>
				<key>dishSalesCount</key>
				<string>30</string>
				<key>dishFollow</key>
				<string>20</string>
				<key>dishPrice</key>
				<string>18</string>
			</dict>
		</array>
		<key>category</key>
		<string>小吃类</string>
	</dict>
</array>
</plist>
