<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shopIcon</key>
		<string>tabbar_profile_selected</string>
		<key>shopName</key>
		<string>冒火烧烤</string>
		<key>shopIntro</key>
		<string>1100元代金券</string>
		<key>shopDistance</key>
		<string>1.1</string>
		<key>shopStar</key>
		<string>5</string>
		<key>shopPrice</key>
		<string>38</string>
		<key>shopSaleCount</key>
		<string>118</string>
	</dict>
	<dict>
		<key>shopIcon</key>
		<string>tabbar_profile_selected</string>
		<key>shopName</key>
		<string>冒火烧烤</string>
		<key>shopIntro</key>
		<string>1100元代金券</string>
		<key>shopDistance</key>
		<string>1.1</string>
		<key>shopStar</key>
		<string>3</string>
		<key>shopPrice</key>
		<string>38</string>
		<key>shopSaleCount</key>
		<string>118</string>
	</dict>
	<dict>
		<key>shopIcon</key>
		<string>tabbar_profile_selected</string>
		<key>shopName</key>
		<string>冒火烧烤</string>
		<key>shopIntro</key>
		<string>1100元代金券</string>
		<key>shopDistance</key>
		<string>1.1</string>
		<key>shopStar</key>
		<string>4</string>
		<key>shopPrice</key>
		<string>38</string>
		<key>shopSaleCount</key>
		<string>118</string>
	</dict>
	<dict>
		<key>shopIcon</key>
		<string>tabbar_profile_selected</string>
		<key>shopName</key>
		<string>冒火烧烤</string>
		<key>shopIntro</key>
		<string>1100元代金券</string>
		<key>shopDistance</key>
		<string>1.1</string>
		<key>shopStar</key>
		<string>5</string>
		<key>shopPrice</key>
		<string>38</string>
		<key>shopSaleCount</key>
		<string>118</string>
	</dict>
</array>
</plist>
