<h3>Chart JS</h3>
<div ng-controller="ChartJSController" class="container-fluid">
   <div class="row mb-lg">
      <div class="col-lg-6">
         <h4>Line Chart</h4>
         <div>
            <canvas linechart="" options="lineOptions" data="lineData" height="120" responsive="true"></canvas>
         </div>
      </div>
      <div class="col-lg-6">
         <h4>Bar Chart</h4>
         <div>
            <canvas barchart="" options="barOptions" data="barData" height="120" responsive="true"></canvas>
         </div>
      </div>
   </div>
   <div class="row mb-lg">
      <div class="col-lg-6">
         <h4>Polar Area Chart</h4>
         <div>
            <canvas polarchart="" options="polarOptions" data="polarData" height="180" responsive="true"></canvas>
         </div>
      </div>
      <div class="col-lg-6">
         <h4>Radar Chart</h4>
         <div>
            <canvas radarchart="" options="radarOptions" data="radarData" height="180" responsive="true"></canvas>
         </div>
      </div>
   </div>
   <div class="row mb-lg">
      <div class="col-lg-6">
         <h4>Pie Chart</h4>
         <div>
            <canvas doughnutchart="" options="pieOptions" data="pieData" height="80" responsive="true"></canvas>
         </div>
      </div>
      <div class="col-lg-6">
         <h4>Doughnut Chart</h4>
         <div>
            <canvas doughnutchart="" options="doughnutOptions" data="doughnutData" height="80" responsive="true"></canvas>
         </div>
      </div>
   </div>
</div>