<h3>订单列表</h3>
<div class="table-responsive b0"  ng-controller="OrderController as orderCon">
   <table datatable="orderCon.loadOrders()" ng-init="orderCon.loadOrders()" class="table table-hover">
      <thead>
         <tr>
            <th style="width:80px">
               <strong>订单编号</strong>
            </th>
            <th>
               <strong>下单时间</strong>
            </th>
            <th>
               <strong>顾客姓名</strong>
            </th>
            <th>
               <strong>总金额</strong>
            </th>
            <th>
               <strong>商品数量</strong>
            </th>
            <th>
               <strong>SHIPMENT</strong>
            </th>
            <th class="text-center">
               <strong>状态</strong>
            </th>
            <th class="text-center">
               <strong>操作</strong>
            </th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="order in orderCon.orders">
            <td>{{order.code}}</td>
            <td>{{order.orderTime}}</td>
            <td>{{order.customerName}}</td>
            <td>{{order.totalPrice}}</td>
            <td>{{order.goodsAmount}}</td>
            <td>{{order.payTime}}</td>
            <td class="text-center">
               <span class="label {{order.statusClass}}">{{order.status}}</span>
            </td>
            <td class="text-center">
               <button type="button" class="btn btn-sm btn-default">
                  <em class="fa fa-search"></em>
               </button>
            </td>
         </tr>
      </tbody>
   </table>
</div>